::highlight(hover-highlighter_word) {
  background-color: var(--hover_highlighter-word_background_color);
  color: var(--hover_highlighter-word_text_color);
}

::highlight(hover-highlighter_line) {
  background-color: var(--hover_highlighter-line_background_color);
  color: var(--hover_highlighter-line_text_color);
}
